.todo__item .todo__item {
  position: relative;

  margin-bottom: 32px;
  padding: 20px;

  background: #282828;
  box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15), -8px -8px 20px rgba(255, 255, 255, 0.05);
  border-radius: 40px;

  color: #f4f4f4;
}

.todo__acc_title.todo__acc_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.todo__info_typography.todo__info_typography {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.todo__info_content.todo__info_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo__info_border {
  width: 5px;
  height: 40px;
  border-radius: 8px;
  margin-right: 10px;
}

.todo__title {
  margin: 0;
  padding: 0;
}
